
body{
background-color: #92a8d1;
}

d{
position: absolute;
 top: 30%;
left: 70%;
transform: translate(-50%, -50%);
}

p{
margin: 0;
margin-bottom: 1em;
 font-size: larger;
  font-family: ;
}

footer{
margin-top: 1%; 
font-size: medium;
font-family: fantasy;
}

a{
background-color:lightblue;
 border: none;
color: grey;
 padding: 5px 10px; 
 text-align: center;
text-decoration: none; 
display: inline-block;
 font-size: 10px;
}


h1{
 color: #00008B; 
 font-size: 40px;
font-family: initial;
 padding-left: 15px;
 }

button{
font-size: 20px; 
font-family: ; 
color: coral;
}